name: Solace IaC deployment pipeline
run-name: ${{ github.actor }} triggered the deployment
on: 
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: string
        default: 'development'
      service_name:
        required: true
        type: string
        default: 'AJCR_sandbox_mesh'        
jobs:
  debug-context:
    runs-on: ubuntu-latest
    steps:
      - name: Write GitHub context to log
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"

  solace-deployment:
    needs: debug-context
    defaults:
      run:
        working-directory: ${{ inputs.service_name }}    
    runs-on: ubuntu-latest
    permissions:
      # This is required for actions/checkout
      contents: read    
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1 
        with:
          tofu_version: latest
          cache: true

      - name: OpenTofu fmt
        id: fmt
        run: tofu fmt -check
        continue-on-error: true

      - name: OpenTofu Init
        id: init
        run: tofu init



