name: Solace IaC deployment pipeline
run-name: ${{ github.actor }} triggered the deployment
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
