name: Solace IaC deployment pipeline
run-name: ${{ github.actor }} triggered the deployment
on: 
  push:
    branches:
      - 'development'  
  workflow_dispatch:
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    permissions:
      # This is required for actions/checkout
      contents: read    
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1 
        with:
          tofu_version: latest
          cache: true

      - name: OpenTofu fmt
        id: fmt
        run: tofu fmt -check
        continue-on-error: true

      - name: OpenTofu Init
        id: init
        run: tofu init