name: Solace IaC terraform local deployment pipeline
run-name: ${{ github.actor }} started the deployment
on: 
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: environment
        default: 'AJCR_sandbox_mesh'
jobs:
  debug-context:
    runs-on: self-hosted
    environment: ${{ inputs.environment }}
    steps:
      - name: Write GitHub context to log
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Write job context to log
        env:
          JOB_CONTEXT: ${{ toJSON(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Write steps context to log
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Write runner context to log
        env:
          RUNNER_CONTEXT: ${{ toJSON(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Write strategy context to log
        env:
          STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Write matrix context to log
        env:
          MATRIX_CONTEXT: ${{ toJSON(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - name: Write env context to log
        env:
          ENV_CONTEXT: ${{ toJSON(env) }}
        run: echo "$ENV_CONTEXT"
      - name: Write secrets context to log
        env:
          SECRETS_CONTEXT: ${{ toJSON(secrets) }}
        run: echo "$SECRETS_CONTEXT"        

  solace-deployment:
    needs: debug-context
    runs-on: self-hosted
    environment: ${{ inputs.environment }}
    permissions:
      # This is required for actions/checkout
      contents: read    
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.4

      - name: Terraform Init
        shell: bash
        run: terraform init
        working-directory: "./services/${{ inputs.environment }}"

      - uses: easyware-io/export-to-env@v1
        with:
          secrets: ${{ toJSON(secrets) }}
          only: ^_.*
          prefix: TF_VAR
          transform: lowercase
          transformPrefix: false

      - name: Download Terraform state file
        id: terraform
        uses: ./.github/actions/terraform-backend-github
        continue-on-error: true
        with:
          token: ${{ secrets._XGITHUB_TOKEN }}
          action: download
          ref: ${{ github.ref_name }}
          state_path_local: "./services/${{ inputs.environment }}/tfstate/terraform.tfstate"
          state_repo: "SolaceServices/terraform-cicd-pipeline"
          state_path_remote: "services/${{ inputs.environment }}/tfstate/terraform.tfstate"

      - name: Terraform Plan
        shell: bash
        run: terraform plan -out=tfplan.tfplan
        working-directory: "./services/${{ inputs.environment }}"

      - name: Terraform Apply
        shell: bash
        run: terraform apply tfplan.tfplan -auto-approve
        working-directory: "./services/${{ inputs.environment }}"

      - name: Upload Terraform state file
        uses: ./.github/actions/terraform-backend-github
        with:
          action: upload
          ref: ${{ github.ref_name }}
          sha: ${{ steps.terraform.outputs.sha }}
          state_path_local: "./services/${{ inputs.environment }}/tfstate/terraform.tfstate"
          state_repo: "SolaceServices/terraform-cicd-pipeline"
          state_path_remote: "services/${{ inputs.environment }}/tfstate/terraform.tfstate"
          token: ${{ secrets._XGITHUB_TOKEN }}