name: Solace IaC terraform local deployment pipeline
run-name: ${{ github.actor }} started the deployment
on: 
  workflow_dispatch:
    inputs:
      service_name:
        required: true
        type: string
        default: 'AJCR_sandbox_mesh'        
jobs:
  debug-context:
    runs-on: self-hosted
    steps:
      - name: Write GitHub context to log
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Write job context to log
        env:
          JOB_CONTEXT: ${{ toJSON(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Write steps context to log
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Write runner context to log
        env:
          RUNNER_CONTEXT: ${{ toJSON(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Write strategy context to log
        env:
          STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Write matrix context to log
        env:
          MATRIX_CONTEXT: ${{ toJSON(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - name: Write env context to log
        env:
          ENV_CONTEXT: ${{ toJSON(env) }}
        run: echo "$ENV_CONTEXT"
      - name: Write secrets context to log
        env:
          SECRETS_CONTEXT: ${{ toJSON(secrets) }}
        run: echo "$SECRETS_CONTEXT"        

  solace-deployment:
    needs: debug-context
    defaults:
      run:
        working-directory: "${{ inputs.service_name }}"
    runs-on: self-hosted
    permissions:
      # This is required for actions/checkout
      contents: read    
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.4

      - name: Terraform Init
        shell: bash
        run: terraform init
        working-directory: "./${{ inputs.service_name }}"

      - name: Download Terraform state file
        id: terraform
        uses: Rindrics/terraform-backend-github@v0.0.10
        with:
          token: ${{ secrets._XGITHUB_TOKEN }}
          action: download
          state_path_local: "./${{ inputs.service_name }}/terraform.tfstate"
          state_repo: "SolaceServices/terraform-cicd-pipeline"
          state_path_remote: "${{ inputs.service_name }}/terraform.tfstate"

      - name: Terraform Plan
        run: terraform plan -out=tfplan.tfplan
        working-directory: "./${{ inputs.service_name }}"

      - name: Terraform Apply
        run: terraform apply tfplan.tfplan

      - name: Upload Terraform state file
        uses: Rindrics/terraform-backend-github@v0.0.10
        with:
          action: upload
          state_path_local: "./${{ inputs.service_name }}/terraform.tfstate"
          state_repo: "SolaceServices/terraform-cicd-pipeline"
          state_path_remote: "${{ inputs.service_name }}/terraform.tfstate"    